<div>
  <div>{{countdown}}</div>
  <form name="searchUser" ng-submit="search(username)">
    <input type="search" tabindex="1" required ng-model="username"/>
    <input type="submit" value="Search" />
  </form>
</div>
