<p>
  Issues: {{repoDetails.open_issues_count}}
</p>
<table>
  <thead>
    <tr>
      <th>Contributors</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="contributor in repoDetails.contributors">
      <td><img ng-src="{{contributor.avatar_url}}" width="80" height="80">
        <td>{{contributor.login}}</td>
    </tr?>
  </tbody>
</table>

<a href="#/main">Back</a>
<a href="#/user/{{repoDetails.owner.login}}">Back to {{repoDetails.owner.login}}</a>
