<div>
  <h2>{{user.name}}</h2>
  {{error}}
  <img ng-src="{{user.avatar_url}}" width="80" height="80" title="{{user.name}}">

  <select ng-model="repoSortOrder">
    <option value="+name">Name</option>
    <option value="-stargazers_count">Stars</option>
    <option value="+language">Language</option>
  </select>
</div>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Stars</th>
      <th>Language</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-repeat="repo in repos | orderBy:repoSortOrder">
      <td><a ng-href="#/repo/{{user.name}}/{{repo.name}}">{{repo.name}}</a></td>
      <td>{{repo.stargazers_count | number:0}}</td>
      <td>{{repo.language}}</td>
    </tr>
  </tbody>
</table>

<a href="#/main/">Back to search</a>
